body{
    background-image: linear-gradient(red,black);
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.body-mapdiv{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
svg{
    width: 800px;
    height: 1000px;
}
.land
{
    width: 200px;
    fill: tomato;
    stroke:black;
    stroke-opacity: 1;
    stroke-width:1.5;
    transition: width 0.3s;
}
.land:hover{
    fill: black;
}
.body-datadiv{
    display: flex;
    flex-basis: 20%;
}
