body{
    background-image: linear-gradient(black,red);
}
.mapdiv{
    width: 624px;
    height: 1000px;
    margin: auto;
}
svg{
    width: 800px;
    height: 1000px;
}
.land
{
    width: 200px;
    fill: tomato;
    stroke:black;
    stroke-opacity: 1;
    stroke-width:1.5;
    transition: width 0.3s;
}
.land:hover{
    fill: black;
}